/*

    1. MAIN STYLE
     1.1 Default style
     1.2 Top Bar
     1.3 Navigation bar (left)
     1.4 Content
     1.5 Footer bar
    2. EMPLOYEES SITE

*/




/*   1. MAIN STYLE   */

/*   1.1 Default style   */
body
{
 background-color: #FFFBEB;
 width: 100%;
 margin: 0;
 color: #546880;
 font-family: 'Lato', sans-serif;
 overflow-x: hidden;
}
h1, h3
{
    text-align:center;
}
a
{
  text-decoration: none;
  list-style-type: none;
  color: #546880;
}
a:hover
{
  color: #657990;
}

/*   1.2 Top Bar   */

#topbar
{
  background-color: #546880;
  color: #FFFBEB;
  width: 100%;
}
#logo
{
  width: 75%;
  font-size: 48px;
  padding: 10px;
  margin-left: 55px;
  text-align: left;
  float: left;
}
#clock
{
  font-size: 48px;
  padding: 10px;
  padding-left: 25px;
  text-align: right;
  float: left;
}
#news
{
  background-color: #89A0AE;
  width: 100%;
  font-size: 24px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #FFFBEB;
}


/*   1.3 Navigation bar (left)   */

#nav
{
  width: 15%;
  height: 1000px;
  padding-top: 15px;
  background-color: #DEDFD7;
  line-height: 170%;
  float: left;
}
ul > li > a
{
  text-decoration: none;
  font-size: 25px;
  list-style-type: none;
  color: #546880;
}
ul > li > a:hover
{
  font-size: 26px;
  color: #657990;
}
ul
{
    list-style-type: none;
}


/*   1.4 Content   */

#content
{
  margin-top: 25px;
  margin-left: 65px;
  text-align: justify;
  float: left;
  width: 1000px;
}


/*   1.5 Footer   */

#footer
{
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #546880;
  font-size: 24px;
  text-align: center;
  color: #FFFBEB;
}



/*   2. EMPLOYEES SITE   */

/*   2.1 Card employees  */
.card-employees
{
    width: 450px;
    height: 170px;
    border: 2px solid black;
    float: left;
    margin: 20px;
}
.card-employees img
{
    padding: 5px;
    width:160px;
    height:160px;
    float: left;
}

.toplabel
{
    width: 100%;
    background-color: #546880;
    color: #FFFBEB;
    font-size: 24px;
}

.card-employees p
{
    font-size:22px;
    padding-left: 15px;
}
.id-employees
{
    margin-top: 5px;
    font-weight: 900;
    text-align:center;
}

.contact-employees
{
    padding-top:15px;
    padding-left:15px;
    line-height: 170%;
    font-size:20px;
}



/*   3. Profil   */

/*   3.1 Profil Card */

.card-profile p
{
    padding-top:25px;
    margin-left:20%;
    line-height: 140%;
}

.card-profile img
{
    padding: 5px;
    width:160px;
    height:160px;
    float: left;
}

.cases-profile
{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}
.box-profile1
{
    float:left;
    width:30%;
    border-bottom: 1px solid black;
    background-color: #ffffff;
}
.box-profile2
{
    float: left;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    width: 30%;
    background-color: #ffffff;
}
.box-profile3
{
    float: left;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    width: 30%;
    background-color: #ffffff;
}
.box-profile4
{
    float: left;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #ffffff;
    height: 68px;
    padding-right: 17px;
    padding-left:15px;
    padding-top:35px;
}

.head
{
    padding-top:10px;
    text-align: center;
    border-bottom: 1px solid black;
    font-weight: 900;
    padding-top:5px;
    padding-bottom:5px;
}
.box-info
{
    padding:8px;
}


/*   4. Case   */

/*   4.1 Case  */
.table
{
    border: 1px solid #000000;
    background: #ffffff;
    width: 1000px;
}
.table-data
{
    float: left;
    width: 499.5px;
}
.table-name
{
    padding:5px;
    text-align:center;
    font-weight: 900;
    border-bottom: 1px solid #000000;

}
.table-address
{
    padding:5px;
    float: left;
    width: 239px;
}
.table-email-phone
{
    padding-right-20px;
    text-align: right;
    padding:5px;
    float: left;
    width: 219px;
}
.table-data .header
{
    font-weight: 900;
}
.table-account
{
    background: #ffffff;
    padding:6px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    width: 988px;
    text-align:center;
}
.table-agent
{
    padding: 5px;
    font-size: 18px;
    font-weight: 900;
}

/*   4.2 Case  */
.table-documents
{
    width:220px;
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: 5px;
    float:left;
}


.table-documents-main
{
    width:906px;
    background-color: #ffffff;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 10px;

}

.table-documents-main > .name1
{
    padding-left:50px;
    background-color: #ffffff;
    float:left;
}
.table-documents-main > .name2
{
    padding-left:180px;
    background-color: #ffffff;
    float:left;
}
.table-documents-main > .name3
{
    padding-left:210px;
    background-color: #ffffff;
    float:left;
}
.table-documents-main > .name4
{
    padding-left:100px;
    background-color: #ffffff;
    float:left;
}

.table-button
{
    margin-top:5px;
}


/*   4. Confirm   */
/*   4.1 Button  */
.button button
{
    float: left;
    height:20px;
    width:50px;
    margin-left: 25px;
}